@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "./tokens.scss";

body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../images/bg-intro-mobile.png");
  background-color: $color-background;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 30px;
  color: $text-default-color;
  font-family: $text-default-font-family;
  font-size: $text-default-font-size;
}

.title {
  margin: 0 0 1em 0;
  color: $color-title;
}

.grid {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em;
}

.card {
  background-color: $card-background-color;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2em;
  text-align: center;

  .help {
    color: $color-neutral-grayish-blue;
    font-size: small;
  }
  a {
    color: $color-primary-red;
    text-decoration: none;
    font-weight: 700px;
  }
}

.form {
  &--item {
    margin: 15px 0;
    &--msg {
      text-align: right;
      display: none;
      color: $color-primary-red;
    }
  }

  input {
    font-weight: 700;
    font-family: inherit;
    padding: 10px;
    border-radius: 5px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    /* Only show invalid ring while not focused */
    //input:not(:focus):not(:placeholder-shown):invalid
    &.invalid {
      border-color: $color-primary-red;
      border-width: 2px;
      background-image: url("../images/icon-error.svg");
      background-repeat: no-repeat;
      background-origin: content-box;
      background-position-x: right;
      outline: none;
    }
    //input:not(:focus):not(:placeholder-shown):invalid ~ .form--item--msg {
    &.invalid ~ .form--item--msg {
      display: block;
    }
    &.full {
      width: -moz-available; //TODO Change
    }
  }
}

.trial {
  background-color: $color-accent;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  color: $text-default-color;
}

.btn-primary {
  background-color: $color-btn-primary;
}

@media screen and (min-width: $md-device) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
  .grid {
    grid-template-columns: 49% auto;
    align-items: center;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
