$sm-device: 375px;
$md-device: 1440px;

//## Colors

//### Primary
$color-primary-red: hsl(0, 100%, 74%);
$color-primary-green: hsl(154, 59%, 51%);

//### Accent Blue: 
$color-accent: hsl(248, 32%, 49%);

//Neutral
$color-neutral-dark-blue: hsl(249, 10%, 26%);
$color-neutral-grayish-blue: hsl(246, 25%, 77%);

$color-title: white;
$color-text: white;

//Body
$color-background: $color-primary-red;
//##Text
$text-default-color: $color-text;
$text-default-font-size: 16px;
$text-default-font-family: "Poppins";

//card
$card-background-color: white;

//Form
$color-btn-primary: $color-primary-green;


